{% extends 'base.html' %}
{% load static %}

{% block title %}Оперативный учет{% endblock %}

{% block extra_head %}
{% load static %}

{% endblock %}

{% block content %}
{% load static %}
<h2>Оперативный учет</h2>

<h3>Создание новой записи</h3>

<form id="createOperAccForm">
    {% csrf_token %}

    <div class="form-group">
        <label>Дата платежа (ОДДС):</label>
        <input type="date" name="payment_date" id = "paymentDate">
    </div>

    <div class="form-group">
        <label>Дата признания (ОПУ):</label>
        <input type="date" name="recognition_date" id = "recognitionDate">
    </div>


    <div class="form-group">
        <label>Плательщик ОТКУДА:</label>
        <select name="payer" id="payer">
            <option value="">Выберите плательщика</option>
            {% for payer in participants %}
            <option value="{{ payer.id }}" >{{ payer.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Получатель КУДА:</label>
        <select name="recipient" id="recipient" required>
            <option value="">Выберите получателя</option>
            {% for recipient in participants %}
            <option value="{{ recipient.id }}" >{{ recipient.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Статья:</label>
        <select name="item" required>
            <option value="">Выберите статью</option>
            {% for item in items %}
            <option value="{{ item.id }}" >{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Платежная система:</label>
        <select name="payment_system" required>
            <option value="">Выберите платежную систему</option>
            {% for payment_system in payment_systems %}
            <option value="{{ payment_system.id }}" >{{ payment_system.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Проект:</label>
        <select name="project">
            <option value="">Выберите проект</option>
            {% for project in projects %}
            <option value="{{ project.id }}" >{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Сумма оплаты:</label>
        <input type="number" name="payment_amount" step="0.01">
    </div>

    <div class="form-group">
        <label>Контрагент:</label>
        <select name="counterparty" id="counterparty" required>
            <option value="">Выберите контрагента</option>
            {% for counterparty in counterparties %}
            <option value="{{ counterparty.id }}" >{{ counterparty.name }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-group">
        <label>Сумма комиссии:</label>
        <input type="number" name="commission_amount" step="0.01">
    </div>

    <div class="form-group">
        <label>Комментарий:</label>
        <textarea name="comment" rows="3"></textarea>
    </div>

    <button type="submit">Внести</button>

</form>




<div id="operAccTable">
    <table>
        <thead>
            <tr>
                <th>Дата платежа (ОДДС)</th>
                <th>Дата признания (ОПУ)</th>
                <th>Плательщик</th>
                <th>Получатель</th>
                <th>Статья</th>
                <th>Платежная система</th>
                <th>Проект</th>
                <th>Сумма оплаты</th>
                <th>Контрагент</th>
                <th>Сумма комиссии</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody id="operAccBody">
            <!-- Данные будут загружены через JavaScript -->
        </tbody>
    </table>
</div>
<script src="{% static 'js/oper_accounting.js' %}"></script>
{% endblock %}