{% extends 'base.html' %}
{% load static %}

{% block title %}Планирование{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/planning.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<h2>Планирование</h2>

<h3>Создание новой записи</h3>

<form id="createPlannigForm">
    {% csrf_token %}

    <div class="form-group">
        <label>Дата ОДДС:</label>
        <input type="date" name="date" id = "date">
    </div>

    <div class="form-group">
        <label>Проект:</label>
        <select name="project">
            <option value="">Выберите проект</option>
            {% for project in projects %}
            <option value="{{ project.id }}" >{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Статья:</label>
        <select name="item" required>
            <option value="">Выберите статью</option>
            {% for item in items %}
            <option value="{{ item.id }}" >{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>


    <div class="form-group">
        <label>Сумма:</label>
        <input type="number" name="payment_amount" step="0.01">
    </div>

    <div class="form-group">
        <label>Частота платежа:</label>
        <select name="frequency" id="frequency" required>
            <option value="">Выберите частоту</option>
            {% for frequency in frequency_choices %}
                <option value="{{ frequency.id }}">
                    {{ frequency.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Комментарий:</label>
        <textarea name="comment" rows="3"></textarea>
    </div>

    <button type="submit">Внести</button>

</form>




<div id="planningTable"  style="max-height: 400px; overflow: auto;">
    <table style="border-collapse: collapse; min-width: 1200px;">
        <thead>
            <tr>
                <th>Дата ОДДС</th>
                <th>Проект</th>
                <th>Статья</th>
                <th>Сумма</th>
                <th>Частота платежа</th>
                <th>Комментарий</th>
                <th>Ежемесячно до даты</th>
                <th>Приход/Расход</th>
                <th>Платёж 2</th>
                <th>Платёж 3</th>
                <th>Платёж 4</th>
                <th>Платёж 5</th>
                <th>Платёж 6</th>
                <th>Платёж 7</th>
                <th>Платёж 8</th>
                <th>Платёж 9</th>
                <th>Платёж 10</th>
                <th>Платёж 11</th>
                <th>Платёж 12</th>
                <th>Сумма всех платежей</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="planningBody">
            <!-- Данные будут загружены через JavaScript -->
        </tbody>
    </table>
</div>
<script src="{% static 'js/planning.js' %}"></script>
{% endblock %}