{% extends 'base.html' %}

{% block title %}Редактирование записи - Штат{% endblock %}

{% block content %}
{% load static %}

<form id="editEmployeeForm" data-success-url="{% url 'employees' %}">
    {% csrf_token %}
    <h2>Редактирование записи сотрудника</h2>

    <div class="form-group">
        <label>ФИО:</label>
        <input type="full_name" name="full_name" value="{{ employee.full_name }}" required>
    </div>

    <div class="form-group">
        <label>Должность:</label>
        <select name="position" required>
            {% for position in positions %}
            <option value="{{ position.id }}" {% if position.id == employee.position %}selected{% endif %}>
                {{ position.name }}
            </option>
            {% endfor %}
        </select>
    </div>


    <div class="form-group">
        <label>Отдел:</label>
        <select name="department" id="department" required>
            {% for department in departments %}
            <option value="{{ department.id }}" {% if department.id == employee.department %}selected{% endif %}>
                {{ department.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Статус:</label>
        <select name="status" id="status" required">
            {% for status in statuses %}
            <option value="{{ status.id }}" {% if status.id == employee.status %}selected{% endif %}>
                {{ status.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Тип:</label>
        <select name="employee_type" id="employeeType" required">
            {% for employee_type in employee_types %}
            <option value="{{ employee_type.id }}" {% if employee_type.id == employee.employee_type %}selected{% endif %}>
                {{ employee_type.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    
    <div class="form-group">
        <label>Название банка:</label>
        <textarea name="bank" rows="3">{{ employee.bank_name }}</textarea>
    </div>

    <div class="form-group">
        <label>Номер карты:</label>
        <textarea name="card" rows="3">{{ employee.card_number }}</textarea>
    </div>


    <button type="submit">Сохранить изменения</button>
</form>

<script src="{% static 'js/edit_employee.js' %}"></script>
{% endblock %}