{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Штат{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employees.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div id="departmentColorsData" 
     data-colors='{{ department_colors|json_serialize }}'
     style="display: none;">
</div>
<div class="table-top">
    <h2 class="table-title">Штат сотрудников</h2>
    <div class="table-active">
        <!-- <select class="sort" name="sort" required>
                <option value="">Сортировать:</option>
        </select> -->
        <div class="dropdown" data-name="sort">
        <div class="dropdown-toggle select-sort">Сортировать:</div>
            <div class="dropdown-menu">
                {% for column_name in column_names %}
                <div class="dropdown-item" data-value="{{ column_name.field }}" data-direction="asc">
                    {{ column_name.display }} ↑
                </div>
                <div class="dropdown-item" data-value="{{ column_name.field }}" data-direction="desc">
                    {{ column_name.display }} ↓
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="column_name" value="">
             <input type="hidden" name="sort_direction" value="">
        </div>
        
        <!-- <select class="filter" name="filter" required>
                <option value="">Все категории:</option>
        </select> -->
        <div class="dropdown" data-name="filter">
        <div class="dropdown-toggle select-filter">Все категории: </div>
            <div class="dropdown-menu">
                <!-- {% for column_name in column_names %}
                    <div class="dropdown-item" data-value="{{ column_name }}">{{ column_name }}</div>
                {% endfor %} -->
            </div>
            <input type="hidden" name="filter" value="">
        </div>

        <button class="new-record-button" type="submit">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.00004 14.6663C11.6667 14.6663 14.6667 11.6663 14.6667 7.99967C14.6667 4.33301 11.6667 1.33301 8.00004 1.33301C4.33337 1.33301 1.33337 4.33301 1.33337 7.99967C1.33337 11.6663 4.33337 14.6663 8.00004 14.6663Z" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.33337 8H10.6667" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 10.6663V5.33301" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <span class="button-text">Новая запись</span>
        </button>
    </div>
</div>

<div id="modalBackdrop" class="modal-backdrop"></div> <!-- затемнение -->
<div id="createEmployeeModal" class="modal">
    
    <div class="modal-content">
        <span class="modal-close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 12L12 4M12 12L4 4" stroke="#282533" stroke-opacity="0.6" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        <div class="modal-content-head">
            <h2 class="create-title">Добавление сотрудника</h2>
            <h3 class="create-instruction">Внесите информацию о сотруднике</h3>
        </div>

        <form id="createEmployeeForm">
            {% csrf_token %}

            <div class="form-group form-group--fio">
                <label class="form-label">ФИО:</label>
                <input class="form-input" type="text" name="full_name" value="" required placeholder="ФИО сотрудника">
            </div>

            <div class="form-group">
                <label class="form-label">Должность:</label>
                <div class="dropdown" data-name="position">
                <div class="dropdown-toggle form-input">Выберите должность</div>
                    <div class="dropdown-menu">
                        {% for position in positions %}
                            <div class="dropdown-item" data-value="{{ position.id }}">{{ position.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="position" value="">
                </div>
                
                <label class="form-label">Отдел:</label>
                <div class="dropdown" data-name="department">
                <div class="dropdown-toggle form-input">Выберите отдел</div>
                    <div class="dropdown-menu">
                        {% for department in departments %}
                            <div class="dropdown-item" data-value="{{ department.id }}">{{ department.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="department" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Статус:</label>
                <div class="dropdown" data-name="status">
                <div class="dropdown-toggle form-input">Выберите статус</div>
                    <div class="dropdown-menu">
                        {% for status in statuses %}
                            <div class="dropdown-item" data-value="{{ status.id }}">{{ status.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="status" value="">
                </div>
                <label class="form-label">Тип:</label>
                <div class="dropdown" data-name="employee_type">
                <div class="dropdown-toggle form-input">Выберите тип сотрудника</div>
                    <div class="dropdown-menu">
                        {% for employee_type in employee_types %}
                            <div class="dropdown-item" data-value="{{ employee_type.id }}">{{ employee_type.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="employee_type" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Банк:</label>
                <textarea class="form-input" name="bank_name" rows="1" placeholder="Название банка сотрудника"></textarea>
                <label class="form-label">Номер карты:</label>
                <textarea class="form-input" name="card_number" rows="1" placeholder="Номер карты сотрудника"></textarea>
            </div>

            <div class="create-active">
                <button type="button" class="button-cancel">
                    <span class="button-cancel-text">Отмена</span>
                </button>
                <button type="submit" class="button-add">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00004 14.6663C11.6667 14.6663 14.6667 11.6663 14.6667 7.99967C14.6667 4.33301 11.6667 1.33301 8.00004 1.33301C4.33337 1.33301 1.33337 4.33301 1.33337 7.99967C1.33337 11.6663 4.33337 14.6663 8.00004 14.6663Z" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.33337 8H10.6667" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 10.6663V5.33301" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="button-add-text">Добавить сотрудника</span>
                </button>
            </div>

        </form>
    </div>
</div>

<div id="editEmployeeModal" class="modal">
    
    <div class="modal-content">
        <span class="modal-close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 12L12 4M12 12L4 4" stroke="#282533" stroke-opacity="0.6" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        <div class="modal-content-head">
            <h2 class="create-title">Редактировать сотрудника</h2>
            <h3 class="create-instruction">Внесите изменения в информацию о сотруднике</h3>
        </div>

        <form id="editEmployeeForm">
            {% csrf_token %}

            <div class="form-group form-group--fio">
                <label class="form-label">ФИО:</label>
                <input class="form-input" type="text" name="full_name" value="{{ employee.full_name }}" required placeholder="ФИО сотрудника">
            </div>

            <div class="form-group">
                <label class="form-label">Должность:</label>
                <div class="dropdown" data-name="position">
                <div class="dropdown-toggle form-input">Выберите должность</div>
                    <div class="dropdown-menu">
                        {% for position in positions %}
                            <div class="dropdown-item" data-value="{{ position.id }}">{{ position.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="position" value="">
                </div>
                
                <label class="form-label">Отдел:</label>
                <div class="dropdown" data-name="department">
                <div class="dropdown-toggle form-input">Выберите отдел</div>
                    <div class="dropdown-menu">
                        {% for department in departments %}
                            <div class="dropdown-item" data-value="{{ department.id }}">{{ department.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="department" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Статус:</label>
                <div class="dropdown" data-name="status">
                <div class="dropdown-toggle form-input">Выберите статус</div>
                    <div class="dropdown-menu">
                        {% for status in statuses %}
                            <div class="dropdown-item" data-value="{{ status.id }}">{{ status.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="status" value="">
                </div>
                <label class="form-label">Тип:</label>
                <div class="dropdown" data-name="employee_type">
                <div class="dropdown-toggle form-input">Выберите тип сотрудника</div>
                    <div class="dropdown-menu">
                        {% for employee_type in employee_types %}
                            <div class="dropdown-item" data-value="{{ employee_type.id }}">{{ employee_type.name }}</div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="employee_type" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Банк:</label>
                <textarea class="form-input" name="bank_name" rows="1" placeholder="Название банка сотрудника">{{ employee.bank }}</textarea>
                <label class="form-label">Номер карты:</label>
                <textarea class="form-input" name="card_number" rows="1" placeholder="Номер карты сотрудника">{{ employee.card }}</textarea>
            </div>

            <div class="create-active">
                <button type="button" class="button-cancel">
                    <span class="button-cancel-text">Отмена</span>
                </button>
                <button type="submit" class="button-add">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00004 14.6663C11.6667 14.6663 14.6667 11.6663 14.6667 7.99967C14.6667 4.33301 11.6667 1.33301 8.00004 1.33301C4.33337 1.33301 1.33337 4.33301 1.33337 7.99967C1.33337 11.6663 4.33337 14.6663 8.00004 14.6663Z" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.33337 8H10.6667" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 10.6663V5.33301" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="button-add-text">Сохранить изменения</span>
                </button>
            </div>

        </form>
    </div>
</div>

<div id="deleteConfirmModal" class="modal-delete">
    <div class="modal-delete-content">
        <h2 class="delete-title">Удалить сотрудника?</h2>
        <p class="delete-instruction">Это действие полностью удалит запись вашего сотрудника из системы.</p>
    </div>
    <div class="delete-active">
        <button class="btn-cancel" id="cancelDelete">
             <span class="btn-cancel-text">Нет, оставить</span>
        </button>
        <button class="button-delete" id="confirmDelete">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 4.98366C15.225 4.70866 12.4333 4.56699 9.65 4.56699C8 4.56699 6.35 4.65033 4.7 4.81699L3 4.98366M7.58333 4.14199L7.76667 3.05033C7.9 2.25866 8 1.66699 9.40833 1.66699H11.5917C13 1.66699 13.1083 2.29199 13.2333 3.05866L13.4167 4.14199M16.2083 7.61699L15.6667 16.0087C15.575 17.317 15.5 18.3337 13.175 18.3337H7.825C5.5 18.3337 5.425 17.317 5.33333 16.0087L4.79167 7.61699M9.10833 13.7503H11.8833M8.41667 10.417H12.5833" stroke="#F6F5FA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="button-delete-text">Да, удалить</span>
        </button>
    </div>
</div>

<div id="employeesTable" class="table-container">
    
    <!-- Столбец ФИО -->
    <div class="table-column table-column--fio" id="fioColumn">
        <div class="table-head table-head--fio">
            <span class="head-title">Сотрудник</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>

        </div>
    </div>

    <!-- Столбец Должность -->
    <div class="table-column table-column--position" id="positionColumn">
        <div class="table-head table-head--position">
            <span class="head-title">Должность</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец Отдел -->
    <div class="table-column table-column--depart" id="departColumn">
        <div class="table-head table-head--depart">
            <span class="head-title">Отдел</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец Статус -->
    <div class="table-column table-column--status" id="statusColumn">
        <div class="table-head table-head--status">
            <span class="head-title">Статус</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец Тип сотрудника -->
    <div class="table-column table-column--type" id="typeColumn">
        <div class="table-head table-head--type">
            <span class="head-title">Тип сотрудника</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец Банк -->
    <div class="table-column table-column--bank" id="bankColumn">
        <div class="table-head table-head--bank">
            <span class="head-title">Банк</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец Номер карты -->
    <div class="table-column table-column--card" id="cardColumn">
        <div class="table-head table-head--card">
            <span class="head-title">Номер карты</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
        </div>
    </div>

    <!-- Столбец кнопки редактировать -->
    <div class="table-column table-column--edit" id="editColumn">
            <div class="table-head table-head--edit">
                <span class="head-title"></span>
            </div>
    </div>

    <!-- Столбец кнопки удалить -->
    <div class="table-column table-column--delete" id="deleteColumn">
            <div class="table-head table-head--delete">
                <span class="head-title"></span>
            </div>
    </div>


</div>

<script src="{% static 'js/employees.js' %}"></script>
{% endblock %}