{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Сотрудники{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/summary.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div id="departmentColorsData" 
     data-colors='{{ department_colors|json_serialize }}'
     style="display: none;">
</div>
<div class="summary-top">
    <h2 class="summary-head">Сводная ведомость за {{ current_year }} год</h2>

    <!-- Кастомный dropdown -->
    <form method="get" action="">
        <div class="dropdown">
            <div class="dropdown-toggle" id="selected-year">
                Год: {{ current_year }}
            </div>
            <div class="dropdown-menu">
                {% for year in years %}
                    <div class="dropdown-item {% if year == current_year %}active{% endif %}" data-value="{{ year }}">
                        Год: {{ year }}
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="year" id="year-input" value="{{ current_year }}">
        </div>
    </form>
</div>

<div class="table-container">
    <div class="table-head">
        <div class="head-info">
            <div class="head-column head-column--emp">
            <span class="head-title">Сотрудник</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
            </div>
            <div class="head-column head-column--incoming-balance">
                <span class="head-title">Входящий остаток</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        {% for month in months_name %}
        <div class="head-period">
            <div class="head-column head-column--month">
                <span class="head-title">{{ month }}</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="head-column head-column--finance">
                <div class="finance-head finance-head--accrued">Начислено</div>
                <div class="finance-head finance-head--paid">Выплачено</div>
                <div class="finance-head finance-head--balance">Остаток</div>
            </div>
        </div>
        {% endfor %}
        <div class="head-period">
            <div class="head-column head-column--total">
                    <span class="head-title">Итого</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="head-column head-column--finance">
                    <div class="finance-head finance-head--accrued">Начислено</div>
                    <div class="finance-head finance-head--paid">Выплачено</div>
                    <div class="finance-head finance-head--balance">Остаток</div>
            </div>
        </div>
    </div>
    {% for dept_name, employees in department_data.items %}
    {% with dept_tot=department_totals|dict_get:dept_name %}
    <div class="dept-data">
        <div class="dept-info">
            <div class="dept-name">
                <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="3" cy="3" r="3" fill="#57D21E"/>
                </svg>
                <span>{{ dept_name }}</span>
            </div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.17684 9.29483C4.06276 9.42719 4 9.59612 4 9.77086C4 10.1736 4.32644 10.5 4.72914 10.5H11.2709C11.6736 10.5 12 10.1736 12 9.77087C12 9.59612 11.9372 9.42719 11.8232 9.29483L8.79919 5.78644C8.60923 5.56605 8.33269 5.43932 8.04173 5.43932H7.95827C7.66731 5.43932 7.39077 5.56605 7.20081 5.78644L4.17684 9.29483Z" fill="#282533" fill-opacity="0.6"/>
            </svg>
        </div>

        <div class="data-row">
            <div class="emp-data">
                {% for emp_data in employees %}
                <div class="emp-data-row">
                    <div class="data-cell data-cell--fio">
                        <div class="women_portrait"></div>
                        <span class="title-text">{{ emp_data.employee.full_name }}</span>
                    </div>
                    <div class="data-cell data-cell--incoming-balance">
                        <input type="number" step="0.01" 
                            value="{{ emp_data.incoming_balance }}" 
                            class="input-balance"
                            data-employee="{{ emp_data.employee.id }}"
                            data-year="{{ current_year }}">
                    </div>
                </div>
                {% endfor %}
                <div class="emp-data-row">
                    <div class="data-cell data-cell--total">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="3" cy="3" r="3" fill="#282533"/>
                        </svg>
                        <span class="title-text">Итого по отделу</span>
                    </div>
                    <div class="data-cell data-cell--balance-total">
                        <span>{{ dept_tot.incoming_balance }}</span>
                    </div>
                </div>
            </div>

            
            {% for month in months %}
            <div class="period-data">
                {% for emp_data in employees %}
                <div class="period-data-row">
                    {% with month_data=emp_data.monthly|dict_get:month %}
                    <div class="data-cell data-cell--accrued">
                        {{ month_data.accrued|default:0|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--paid">
                        {{ month_data.paid|default:0|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--balance">
                        {{ month_data.balance|default:0|stringformat:".2f" }}
                    </div>
                    {% endwith %}
                </div>
                {% endfor %}
                <div class="period-data-row">
                {% with month_tot=dept_tot.monthly|dict_get:month %}
                    <div class="data-cell data-cell--total-accrued">
                        {{ month_tot.accrued|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--total-paid">
                        {{ month_tot.paid|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--total-balance">
                        {{ month_tot.balance|stringformat:".2f" }}
                    </div>
                {% endwith %}
                </div>
            </div>
            {% endfor %}
            
            
            <div class="period-data">
                {% for emp_data in employees %}
                <div class="period-data-row">
                    <div class="data-cell data-cell--accrued">
                        {{ emp_data.year_total.accrued|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--paid">
                        {{ emp_data.year_total.paid|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--balance">
                        {{ emp_data.year_total.balance|stringformat:".2f" }}
                    </div>
                </div>
                {% endfor %}

                <!-- Итого по отделу -->
                <div class="period-data-row dept-total">
                    <div class="data-cell data-cell--total-accrued">
                        {{ dept_tot.year_total.accrued|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--total-paid">
                        {{ dept_tot.year_total.paid|stringformat:".2f" }}
                    </div>
                    <div class="data-cell data-cell--total-balance">
                        {{ dept_tot.year_total.balance|stringformat:".2f" }}
                    </div>
                </div>
            </div>     
        </div>
        
    </div>
    {% endwith %}
    {% endfor %}
    <div class="dept-data">
    <!-- Итого по компании -->
    <div class="data-row data-row--total">
        <div class="emp-data">
            <div class="emp-data-row">
                    <div class="data-cell data-cell--total">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="3" cy="3" r="3" fill="#57D21E"/>
                        </svg>
                        <span class="title-text">Итого по компании</span>
                    </div>
                    <div class="data-cell data-cell--balance-total">
                        <span>{{ company_totals.total_incoming_balance|stringformat:".2f" }}</span>
                    </div>
            </div>
        </div>

        {% for month in months %}
        <div class="period-data">
            <div class="period-data-row">
                {% with month_tot=company_totals.monthly|dict_get:month %}
                <div class="data-cell data-cell--total-accrued">
                    {{ month_tot.accrued|stringformat:".2f" }}
                </div>
                <div class="data-cell data-cell--total-paid">
                    {{ month_tot.paid|stringformat:".2f" }}
                </div>
                <div class="data-cell data-cell--total-balance">
                    {{ month_tot.balance|stringformat:".2f" }}
                </div>
                {% endwith %}
            </div>
        </div>
        {% endfor %}
        
        <div class="period-data">
            <div class="period-data-row">
                <div class="data-cell data-cell--accrued">
                    {{ company_totals.year_total.accrued|stringformat:".2f" }}
                </div>
                <div class="data-cell data-cell--paid">
                    {{ company_totals.year_total.paid|stringformat:".2f" }}
                </div>
                <div class="data-cell data-cell--balance">
                    {{ company_totals.year_total.balance|stringformat:".2f" }}
                </div>
            </div>
        </div>
    </div>
</div>



<script src="{% static 'js/summary.js' %}"></script>
{% endblock %}



