{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/summary.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div class="summary-top">
    <h2 class="summary-head">Сводная ведомость за {{ current_year }} год</h2>

    <!-- Форма выбора года -->
    <form method="get" action="">
        <select class="summary-year" name="year" id="year" onchange="this.form.submit()">
            {% for year in years %}
                <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>
                    Год: {{ year }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

<div class="table-container">
    <div class="table-head">
        <div class="head-info">
            <div class="head-column head-column--emp">
            <span class="head-title">Сотрудник</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
            </svg>
            </div>
            <div class="head-column head-column--incoming-balance">
                <span class="head-title">Входящий остаток</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
        {% for month in months_name %}
        <div class="head-period">
            <div class="head-column head-column--month">
                <span class="head-title">{{ month }}</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12H14M8 8H12M8 4H10M2 5.58333L3.00345 4.45445C3.53384 3.85776 4.46616 3.85776 4.99655 4.45445L6 5.58333M4 4V12" stroke="#A5A5A5" stroke-width="1.2" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="head-column head-column--finance">
                <div class="finance-head finance-head--accrued">Начислено</div>
                <div class="finance-head finance-head--paid">Выплачено</div>
                <div class="finance-head finance-head--balance">Остаток</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <div class="table-container">
    <table class="summary-table">
        <thead>
            <tr>
                <th rowspan="2" class="left">Сотрудник</th>
                <th rowspan="2">Входящий остаток</th>
                {% for month in months_name %}
                    <th colspan="3">{{ month }}</th>
                {% endfor %}
                <th colspan="3">Итого</th>
            </tr>
            <tr>
                {% for month in months %}
                    <th class="border-strong">Начислено</th>
                    <th>Выплачено</th>
                    <th>Остаток</th>
                {% endfor %}
                <th class="border-strong">Начислено</th>
                <th>Выплачено</th>
                <th>Остаток</th>
            </tr>
        </thead>

        {% for dept_name, employees in department_data.items %}
        <tbody>
            <tr>
                <td class="left" style="background:#d9edf7; font-weight:bold;">
                    {{ dept_name }}
                </td>
            </tr>

            {% for emp_data in employees %}
            <tr>
                <td class="left">{{ emp_data.employee.full_name }}</td>
                <td>
                    <input type="number" step="0.01" 
                        value="{{ emp_data.incoming_balance }}" 
                        class="incoming-balance" 
                        data-employee="{{ emp_data.employee.id }}"
                        data-year="{{ current_year }}" 
                        style="width:80px; text-align:right;">
                        
                </td>
                {% with total_accrued=0 total_paid=0 total_balance=emp_data.incoming_balance %}
                    {% for month in months %}
                        {% with month_data=emp_data.monthly|dict_get:month %}
                            {% if month_data %}
                                <td class="border-strong">{{ month_data.accrued|stringformat:".2f" }}</td>
                                <td>{{ month_data.paid|stringformat:".2f" }}</td>
                                <td class="{% if month_data.balance < 0 %}negative{% endif %}">{{ month_data.balance|stringformat:".2f" }}</td>
                                {% with total_accrued=total_accrued|add:month_data.accrued %}
                                {% with total_paid=total_paid|add:month_data.paid %}
                                {% with total_balance=month_data.balance %}
                                {% endwith %}{% endwith %}{% endwith %}
                            {% else %}
                                <td>0</td><td>0</td><td>0</td>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    <td class="border-strong">{{ emp_data.year_total.accrued|stringformat:".2f" }}</td>
                    <td>{{ emp_data.year_total.paid|stringformat:".2f" }}</td>
                    <td class="{% if total_balance < 0 %}negative{% endif %}">{{ emp_data.year_total.balance|stringformat:".2f" }}</td>
                {% endwith %}
            </tr>
            {% endfor %}

            <tr style="font-weight:bold; background:#e0e0e0;">
                <td class="left">Итого по отделу</td>
                <td>-</td>
                {% with dept_tot=department_totals|dict_get:dept_name %}
                    {% for month in months %}
                        {% with month_tot=dept_tot.monthly|dict_get:month %}
                            <td class="border-strong">{{ month_tot.accrued|stringformat:".2f" }}</td>
                            <td>{{ month_tot.paid|stringformat:".2f" }}</td>
                            <td class="{% if month_tot.balance < 0 %}negative{% endif %}">{{ month_tot.balance|stringformat:".2f" }}</td>
                        {% endwith %}
                    {% endfor %}
                    <td>{{ dept_tot.year_total.accrued|stringformat:".2f" }}</td>
                    <td>{{ dept_tot.year_total.paid|stringformat:".2f" }}</td>
                    <td class="{% if dept_tot.year_total.balance < 0 %}negative{% endif %}">{{ dept_tot.year_total.balance|stringformat:".2f" }}</td>
                {% endwith %}
            </tr>
        </tbody>
        {% endfor %}
        <tfoot>
            <tr style="background-color: #d0e9c6; font-weight: bold;">
                <td class="left">Итого по компании</td>
                <td>-</td>
                {% for month in months %}
                    {% with month_tot=company_totals.monthly|dict_get:month %}
                        <td class="border-strong">{{ month_tot.accrued|stringformat:".2f" }}</td>
                        <td>{{ month_tot.paid|stringformat:".2f" }}</td>
                        <td class="{% if month_tot.balance < 0 %}negative{% endif %}">{{ month_tot.balance|stringformat:".2f" }}</td>
                    {% endwith %}
                {% endfor %}
                <td class="border-strong">{{ company_totals.year_total.accrued|stringformat:".2f" }}</td>
                <td>{{ company_totals.year_total.paid|stringformat:".2f" }}</td>
                <td class="{% if company_totals.year_total.balance < 0 %}negative{% endif %}">{{ company_totals.year_total.balance|stringformat:".2f" }}</td>
            </tr>
        </tfoot>
    </table>
</div> -->


<script src="{% static 'js/summary.js' %}"></script>
{% endblock %}



